body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80%;
}

video {
  display: block;
  width: 25%;
  margin: (33% - 25%) / 2;
  float: left;
  filter: grayscale(100%);
  transform: translate3d(0, 0, 0);
}
