$columns: 3;

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 90%;
}

video {
  display: block;
  width: 30%;
  margin: ((100% / $columns) - 30%) / 2;
  float: left;
}
